@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(#7597de, #eeee);
  min-height: 100vh;
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header.logo {
  color: #ffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background-color: #ffff;
  color: #466ba3;
}
.home section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #eeee, transparent);
  z-index: 1000;
}
.home section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.home section img#moon {
  mix-blend-mode: screen;
}
.home section img#mountains_front {
  z-index: 10;
}
.home section img#mountains_behind {
  z-index: 8;
}
#text {
  position: absolute;
  color: #eeee;
  text-align: justify;
  /* right: 0; */
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  text-align: center;
  right: 20px;
  background: #eeee;
  border-radius: 40px;
  color: rgba(35, 18, 97, 0.658) de;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}
.profile {
  position: relative;
  overflow: visible;
  justify-content: center;
  height: 100%;
  background: #eeee;
  padding: 50px 150px;
}
.profile::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: linear-gradient(to top, #000000d0, transparent);
  padding: 20px 10px;
  z-index: 10000;
}
.profile img#profile {
  width: 370px;
  height: 370px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  float: left;
  margin-left: 0px;
  padding: 30px 30px;
  align-items: center;
}
.profile .github-card {
  margin-left: 0px;
  padding: 30px 30px;
  display: flex;
}
.profile h1 {
  font-size: 3.5em;
  margin: 10px;
  display: block;
  color: #231261a8 de;
}
.profile h2 {
  text-decoration: none;
  font-size: 2.5em;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
}
.profile h3 {
  text-align: left;
  margin-left: 50%;
  display: block;
}
.profile .about-text p {
  font-size: 18px;
  max-width: 450px;
}
.profile .about-text p mark {
  font-weight: 600;
  color: #20247b;
}
.education {
  position: relative;
  overflow: visible;
  justify-content: center;
  height: 100vh;
  padding: 50px 150px;
}
.education ul li {
  list-style: none;
  margin-left: 20px;
}
.education ul li a {
  color: #000;
}
.skill {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000000d0;
  color: #ffffffd0;
  padding: 100px;
}
.skill h1 {
  font-size: 3.5em;
  margin: 10px;
  text-align: end;
  display: flow-root;
  color: #231261a8 de;
}
.skill h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 2.5em;
  margin: 10px;
}
.skill .card {
  display: none;
  background: transparent;
  color: #eeee;
}
.skill ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill ul li {
  list-style: none;
  margin-left: 20px;
}
.skill #bg {
  width: 85vw;
  height: 100%;
  opacity: 0.3;
  align-items: center;
}
.skill ul li button {
  text-decoration: none;
  padding: 10px 15px;
  color: #ffff;
  border-radius: 20px;
  background: transparent;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1.2em;
  width: 170px;
  /* height: 50px; */
  transition: width 0.5s ease;
  text-align: center;
}
.skill ul li button:hover {
  background-color: #ffff;
  display: box;
  color: #000;
  width: 250px;
}
.skill ul li button::before {
  /* display: inline-block; */
  vertical-align: middle;
  content: "";
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s;
}
.skill ul li button:hover::before {
  max-width: 50px;
}
.skill ul li button:focus {
  background-color: #ffff;
  display: box;
  color: #000;
  width: 250px;
  border: none;
  outline: none;
}

.project {
  position: relative;
  height: 150%;
  width: 100%;
  background: #000000d0;
  color: #ffffffd0;
  padding: 50px;
}
.project h1 {
  font-size: 3.5em;
  margin: 10px;
  color: #231261a8 de;
}
.project label {
  text-decoration: none;
  font-size: 2.5em;
  display: flex;
  padding: 10px 10px;
}
.project section {
  width: 100%;
  box-sizing: border-box;
  min-height: 33vh;
}
.project section .section-wrapper {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.line {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #216aaf 7%, #fbfcfc 7%);
  margin-top: 20vh;
}
.line:hover {
  cursor: pointer;
}
.line .year {
  background-color: #fbfcfc;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 5.3%;
  box-sizing: border-box;
  margin-right: calc(2.63% - 12.5px - 0.3vw);
  margin-left: calc(2.63% - 12.5px - 0.3vw);
  width: 25px;
  height: 25px;
  top: -10px;
}
.line .year::before {
  content: attr(data-timelinelabel);
  position: absolute;
  top: -75px;
  left: -5px;
  width: 150px;
  transform: rotateZ(-45deg);
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}
.line .year::after {
  content: attr(data-mobiletext);
  position: absolute;
  top: 23px;
  left: -15px;
  padding: 10px;
}
.line .quarter {
  background-color: #fbfcfc;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 5.3%;
  box-sizing: border-box;
  margin-right: calc(2.63% - 7.5px - 0.3vw);
  margin-left: calc(2.63% - 7.5px - 0.3vw);
  width: 15px;
  height: 15px;
  top: -5px;
}
.line .complete {
  background-color: #fbbe39;
}
.line .dot.active {
  background-color: #fbbe39;
  cursor: pointer;
}

#timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
  color: #eeee;
}

#description {
  min-height: 30vh;
  /* background-color: #eeee; */
}
#description h3 {
  color: #eeee;
  font-weight: 600;
}
#description .section-wrapper > div {
  display: none;
}
#description .section-wrapper > div.text-default {
  display: block;
}

@media all and (max-width: 760px) {
  .line .year {
    width: 20px;
    height: 20px;
    margin-right: calc(2.65% - 10px);
    margin-left: calc(2.65% - 10px);
    top: -8px;
  }
  .line .quarter {
    width: 10px;
    height: 10px;
    margin-right: calc(2.65% - 5px);
    margin-left: calc(2.65% - 5px);
    top: -3px;
  }
}
@media all and (min-width: 481px) {
  .quarter.q1 {
    display: none;
  }

  .dot:hover {
    background-color: #34495e;
    cursor: pointer;
  }
}
@media all and (max-width: 480px) {
  #timeline {
    padding-bottom: 20px;
    padding-top: 0;
  }

  .line {
    height: auto;
    background: transparent;
    margin-top: 20px;
  }
  .line .year,
  .line .quarter {
    border-radius: 0;
    float: none;
    position: static;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;
    transition: background-color 500ms;
  }
  .line .year::after,
  .line .quarter::after {
    content: attr(data-mobiletext);
    display: block;
    padding-top: 12px;
  }
  .line .year.complete,
  .line .quarter.complete {
    background-color: #34495e;
    color: #fbfcfc;
  }
  .line .year.active,
  .line .year.complete.active,
  .line .quarter.active,
  .line .quarter.complete.active {
    background-color: #c0392b;
    color: #fbfcfc;
  }
  .line .year {
    display: block;
  }
  .line .year::before {
    display: none;
  }
  .line .year::after {
    position: static;
  }
  .line .quarter {
    display: none;
  }
  .line .quarter.y2017 {
    display: block;
  }
}
.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #8082f6d0;
  color: #ffffffd0;
  padding: 10px;
}
.contact h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 10px;
  color: #231261a8 de;
}
